@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contoh: pakai Google Fonts */
[x-cloak] { display: none !important; }
.font-sans {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-title {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@layer components {
  .form-label { @apply block text-sm font-medium text-zinc-600; }
  .form-control {
    @apply mt-1 w-full rounded-md shadow-sm bg-white
           border border-zinc-300 text-zinc-800 placeholder-zinc-500
           focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500;
  }
  .form-file {
    @apply block w-full text-sm text-zinc-800 placeholder-zinc-400
           file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0
           file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100;
  }
}
