@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contoh: pakai Google Fonts */
[x-cloak] { display: none !important; }
.font-sans {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-title {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}